@import "bourbon/bourbon";
@import "neat/neat";
@import "bootstrap";

main {
  margin-top: 90px;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #158cba;
  border-color: #158cba;

  a {
    background: inherit;
  }
}

.list-group-item {
  padding: 0;
  cursor: pointer;
}

.nav .list-group-item a {
  color: inherit;
  text-decoration: none;
  // padding: 0;
}


.song {
  .panel-body {
    white-space: pre;
    font-family: 'Source Code Pro', monospace;
    line-height: 1.2em;

    &:before {
      display: none;
    }

    &:after {
      display: none;
    }
  }
}
